# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.gersemirc
!.gitignore
!AGENTS.md
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!script.nsi
!sample.jpg
!sample2.png

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
